@import "compass"
		;
 

.container {
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
}

.box {
	float: left;
	width: 50%;
	font-size: 18px;
	padding: 15px;

	img {
		max-height: 180px;
	}
}

*,
*:after,
*:before {
	@include box-sizing(border-box);
}

img {
	max-width: 100%;
}

body {
	font-family: Roboto;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.nav {
	background: #cacaca;
}

.nav__link {
	display: inline-block;
	font-size: 14px;
	padding: 10px;
}

.multicolumns {
	column-count: 2;
}